<!DOCTYPE html>
<html>
<head>
  <title> Actualizar Usuario | Refaccionaria BIBI </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleagregarusuario.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
     integrity="sha512-f3yniR3Qec/wI/2RNtUft9eSJ7V9ny5IdEVCJ0rRv9hMaWTQuMQuhDEeqF8Ee3fNKqZSS7JELvcmA0e9yGsd4Q==" 
     crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
  <style>
    /* Estilos para la imagen de fondo */
    .img {
      background: url("{{ url_for('static', filename='img/fondo.jpg') }}");
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }
  </style>
  
</head>

<body class="align">
  <script>
    function handleInputChange(input) {
      const label = input.previousElementSibling;
      if (input.value !== "") {
        label.classList.add("active");
      } else {
        label.classList.remove("active");
      }
    }

    const inputs = document.querySelectorAll(".input");
    inputs.forEach(input => {
      input.addEventListener("input", function () {
        handleInputChange(this);
      });
      handleInputChange(input);
    });
  </script>

  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Refaccionaria BIBI</a>
      </div>
      <ul>
        <button class="cta">
          <a href="{{ url_for('usuario.usuarios') }}"><span>Regresar</span></a>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>
        
      </ul>
    </div>
  </nav>

  <nav>
    <!-- ... contenido del menú ... -->
  </nav>
  <div class="img"></div>
  <div class="container">
    <div class="left">
      <form class="form" method="post">
        {{ form.csrf_token }}
        <h2 class="form-title">Actualizar Usuario</h2>
        <div class="input-block">
          
          {{ form.nombreusuario(class="input", placeholder='Nombre Usuario') }}
          {% if form.nombreusuario.errors %}
            {% for error in form.nombreusuario.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          {% endif %}
          <!-- ... manejo de errores ... -->
        </div>
        <div class="input-block">
          
          {{ form.contrasena(class="input", placeholder='Contraseña') }}
          {% if form.contrasena.errors %}
            {% for error in form.contrasena.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          {% endif %}
          <!-- ... manejo de errores ... -->
        </div>
        <div class="input-block">
          
          {{ form.confirmar_contrasena(class="input",placeholder='Confirmar Contraseña') }}
          {% if form.confirmar_contrasena.errors %}
            {% for error in form.confirmar_contrasena.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
        <div class="input-block">
          
          {{ form.is_admin(class="input",  placeholder='Rol de Usuario') }}
          <!-- ... manejo de errores ... -->
        </div>
        <div class="input-block">
          {{ form.submit(class="buttonsesion") }}
        </div>
      </form>  
    </div>
  </div>
  <!-- Pie de página -->
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <img src="img/logotipo-sleedw.svg" alt="Refaccionaria BIBIS">
        </figure>
        <h2>SOBRE NOSOTROS</h2>
        <p>Nos ubicamos en Carlos Aragon #5 Barrio.San Antonio Altzayanca </p>
        <div class="red-social">
          <a href="https://www.google.com/maps/place/19%C2%B025'29.0%22N+97%C2%B048'04.6%22W/@19.4247101,-97.8038402,17z/data=!3m1!4b1!4m4!3m3!8m2!3d19.4247101!4d-97.8012653?entry=ttu"><i class="fa fa-solid fa-map" style="color: #ffffff;"></i></a>
          <a href="https://www.facebook.com/profile.php?id=61550099367133"><i class="fab fa-facebook-f" style="color: #ffffff;"></i></a>
          <a href="https://www.facebook.com/profile.php?id=61550099367133"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <!-- Agrega más cajas aquí si es necesario -->
    </div>
    <div class="grupo-2">
      <small>&copy; 2022 <b>Refaccionaria BIBIS</b> - Todos los Derechos Reservados a Refaccionaria BiBIS S.A de C.V</small>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>