<!DOCTYPE html>
<html>
<head>
  <title> Diseño del sitio web </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesesion.css') }}">
  <style>
    .img {
      background: url("{{ url_for('static', filename='img/fondo.jpg') }}");
      width: 100%;
      height: 100vh;
      background-size: cover; /* Ajusta la imagen al contenedor */
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }
  </style>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body class="align">
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Refaccionaria BIBI</a>
      </div>
      <ul>
        <li>
          <a href="{{ url_for('usuario.login') }}">
            <button class="cta">
              <span>Inicio</span>
              
            
            </button>
          </a>
          
        </li>
        

      </ul>
    </div>
  </nav>
  
  <!-- Formulario en medio de la pantalla -->
  <div class="img"></div>
  <div class="container">
    <div class="left">
      <form class="form">
        <div class="input-block">
          <input class="input" type="text" id="email" required="">
          <label for="email">Usuario</label>
        </div>
        <div class="input-block">
          <input class="input" type="password" id="pass" required="">
          <label for="pass">Contraseña</label>
        </div>
        <div class="input-block">
          <span class="forgot"><a href="#">Olvide mi contraseña</a></span>
          <button class="buttonsesion">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
  
  <!-- Pie de página -->
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <img src="img/logotipo-sleedw.svg" alt="Refaccionaria BIBIS">
        </figure>
        <h2>SOBRE NOSOTROS</h2>
        <p>Nos ubicamos en </p>
        <div class="red-social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    <div class="grupo-2">
      <small>&copy; 2022 <b>Refaccionaria BIBIS</b> - Todos los Derechos Reservados a la mama de lalis</small>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
