<!DOCTYPE html>
<html>
<head>
  <title> Diseño del sitio web </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesesion.css') }}">
  <style>
    /* Estilos para la imagen de fondo */
    .img {
      background: url("{{ url_for('static', filename='img/fondo.jpg') }}");
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }
  </style>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script>
    function handleInputChange(input) {
      const label = input.previousElementSibling;
      if (input.value) {
        label.style.visibility = "hidden";
      } else {
        label.style.visibility = "visible";
      }
    }
  </script>
</head>
<body class="align">
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Refaccionaria BIBI</a>
      </div>
      <ul>
        <li>
          <form method="POST" action="{{ url_for('index') }}">
            <button type="submit" class="cta">
              <span>Inicio</span>
                
              </svg>
            </button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="container">
    <div class="left">
      <form class="form" method="post">
        {{ form.csrf_token }}
        <h2 class="form-title">Inicio Sesión</h2>
        <div class="input-block">
          {{ form.nombreusuario.label(class="input-label") }}
          {{ form.nombreusuario(class="input", oninput="handleInputChange(this)") }}
          {% if form.nombreusuario.errors %}
            {% for error in form.nombreusuario.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
        <div class="input-block">
          {{ form.contrasena.label(class="input-label") }}
          {{ form.contrasena(class="input",  oninput="handleInputChange(this)") }}
          {% if form.contrasena.errors %}
            {% for error in form.contrasena.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
        
        <div class="input-block">
          <span class="forgot"><a href="#">¿Olvidaste tu contraseña?</a></span>
          {{ form.submit(class="buttonsesion") }}
        </div>
      </form>  
    </div>
  </div>

  <!-- Pie de página -->
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <img src="img/logotipo-sleedw.svg" alt="Refaccionaria BIBIS">
        </figure>
        <h2>SOBRE NOSOTROS</h2>
        <p>Nos ubicamos en </p>
        <div class="red-social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <!-- Agrega más cajas aquí si es necesario -->
    </div>
    <div class="grupo-2">
      <small>&copy; 2022 <b>Refaccionaria BIBIS</b> - Todos los Derechos Reservados a la mama de lalis</small>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
