<!DOCTYPE html>
<html>
<head>
  <title> Agregar Proveedor | Refaccionaria BIBI </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleagregarproveedores.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
     integrity="sha512-f3yniR3Qec/wI/2RNtUft9eSJ7V9ny5IdEVCJ0rRv9hMaWTQuMQuhDEeqF8Ee3fNKqZSS7JELvcmA0e9yGsd4Q==" 
     crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head><body class="align"> 
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="">Refaccionaria BIBI</a>
      </div>
      <ul>
        <li>
            
            <button class="cta">
              <a href="{{ url_for('proveedor.proveedores') }}"><span>Regresar </span></a>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
            
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <div class="color-fondo"></div>
  <div class="container">    
    <div class="form-container">
        <h1>Datos Proveedor</h1>
        <form method="post">
            {{ form.csrf_token }}
            <div>
                {{ form.nombre.label }}
                {{ form.nombre }}
                {% if form.nombre.errors %}
                    {% for error in form.nombre.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                {{ form.apellido.label }}
                {{ form.apellido }}
                {% if form.apellido.errors %}
                    {% for error in form.apellido.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                {{ form.telefono.label }}
                {{ form.telefono }}
                {% if form.telefono.errors %}
                    {% for error in form.telefono.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                {{ form.direccion.label }}
                {{ form.direccion }}
                {% if form.direccion.errors %}
                    {% for error in form.direccion.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                {{ form.numdireccion.label }}
                {{ form.numdireccion }}
                {% if form.numdireccion.errors %}
                    {% for error in form.numdireccion.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                {{ form.colonia.label }}
                {{ form.colonia }}
                {% if form.colonia.errors %}
                    {% for error in form.colonia.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                {{ form.municipio.label }}
                {{ form.municipio }}
                {% if form.municipio.errors %}
                    {% for error in form.municipio.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                {{ form.estado.label }}
                {{ form.estado }}
                {% if form.estado.errors %}
                    {% for error in form.estado.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                {{ form.submit(class="btn") }}
            </div>
        </form>
        </div>
    </div>
  <!-- Pie de página -->
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <img src="img/logotipo-sleedw.svg" alt="Refaccionaria BIBIS">
        </figure>
        <h2>SOBRE NOSOTROS</h2>
        <p>Nos ubicamos en Carlos Aragon #5 Barrio.San Antonio Altzayanca </p>
        <div class="red-social">
          <a href="https://www.google.com/maps/place/19%C2%B025'29.0%22N+97%C2%B048'04.6%22W/@19.4247101,-97.8038402,17z/data=!3m1!4b1!4m4!3m3!8m2!3d19.4247101!4d-97.8012653?entry=ttu"><i class="fa fa-solid fa-map" style="color: #ffffff;"></i></a>
          <a href="https://www.facebook.com/profile.php?id=61550099367133"><i class="fab fa-facebook-f" style="color: #ffffff;"></i></a>
          <a href="https://www.facebook.com/profile.php?id=61550099367133"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <!-- Agrega más cajas aquí si es necesario -->
    </div>
    <div class="grupo-2">
      <small>&copy; 2022 <b>Refaccionaria BIBIS</b> - Todos los Derechos Reservados a Refaccionaria BiBIS S.A de C.V</small>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>