<!DOCTYPE html>
<html>
<head>
  <title> Proveedores | Refaccionaria BIBI </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleproveedores.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body class="align"> 
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="">Refaccionaria BIBI</a>
      </div>
      <ul>
        <li>
            
            <button class="cta">
                <span>Regresar</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
            
        </li>
      </ul>
    </div>
  </nav>
  <div class="color-fondo"></div>
  <div class="container">
    <h1>Tabla de Proveedores</h1>
    <a href="{{ url_for('proveedor.crear_prov') }}" class="agregar-button">Nuevo Proveedor</a>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido(s)</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Número de Dirección</th>
                <th>Colonia</th>
                <th>Municipio</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for prov in proveedores %}<!-- Aquí se cargarán los datos de los proveedores -->
                <tr>
                    <td>{{ prov.id }}</td>
                    <td>{{ prov.nombre }}</td>
                    <td>{{ prov.apellido }}</td>
                    <td>{{ prov.telefono }}</td>
                    <td>{{ prov.direccion }}</td>
                    <td>{{ prov.numdireccion }}</td>
                    <td>{{ prov.colonia }}</td>
                    <td>{{ prov.municipio }}</td>
                    <td>{{ prov.estado }}</td>
                    <td>
                        <a href="{{ url_for('proveedor.actualizar_prov',id=prov.id) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <form action="{{ url_for('proveedor.eliminar_prov', id=prov.id) }}" method="post" style="display: inline;">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                          <button type="submit" onclick="return confirm('¿Confirmar acción?')">
                              <i class="fa fa-trash"></i>
                          </button>
                        </form>
                      
                      
                      
                      
                      
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pie de página -->
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <img src="img/logotipo-sleedw.svg" alt="Refaccionaria BIBIS">
        </figure>
        <h2>SOBRE NOSOTROS</h2>
        <p>Nos ubicamos en Carlos Aragon #5 Barrio.San Antonio Atltzayanca </p>
        <div class="red-social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <!-- Agrega más cajas aquí si es necesario -->
    </div>
    <div class="grupo-2">
      <small>&copy; 2022 <b>Refaccionaria BIBIS</b> - Todos los Derechos Reservados a la mama de lalis</small>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>


