<!DOCTYPE html>
<html>
<head>
  <title>Artículos - Refaccionaria BIBI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylearticulos.css') }}">
  <!-- Otros elementos head, como enlaces a fuentes, iconos, etc. -->
</head>
<body>

<nav class="encabezado">
  <div class="logo">
    <a href="#">Refaccionaria BIBI</a>
    <ul>
      <li>
        <form method="POST" action="{{ url_for('login') }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" class="cta">
            <span>Inicio</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>Nuestros Artículos</h1>
  <ul class="articulos-list">
    {% for art in articulos %}
    <li class="articulo-item">
      <div class="articulo-info">
        <h2>{{ art.nombre }}</h2>
        {% if art.image %}
          <img src="{{ url_for('static', filename='img/articulos/' + art.image ) }}" alt="Imagen de artículo" width="200px">
        {% else %}
          <img src="{{ url_for('static', filename='img/articulos/art.jpg') }}"
          alt="Imagen de Artículo"
          width="200px">
        {% endif %}
        <p class="precio">Precio: ${{ art.precio }} | Existencias: {{ art.existencias }}</p>
      </div>
      <div class="articulo-acciones">
        <a href="{{ url_for('articulo.actualizar_art',id=art.id) }}">
          <i class="fas fa-pencil-alt"></i> Editar
        </a>
        <form action="{{ url_for('articulo.eliminar_art', id=art.id) }}" method="post">
          {{ form.csrf_token }}
          <button type="submit" class="eliminar-btn" onclick="return confirm('¿Confirmar acción?')">
            <i class="fa fa-trash"></i>Eliminar
          </button>
        </form>
      </div>
    </li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('articulo.crear_art') }}" class="agregar-articulo-btn">Agregar Nuevo Artículo</a>
</div>

<footer class="pie-pagina">
  <div class="grupo-1">
    <div class="box">
      <figure>
        <img src="img/logotipo-sleedw.svg" alt="Refaccionaria BIBIS">
      </figure>
      <h2>Acerca de Nosotros</h2>
      <p>Nos ubicamos en ...</p>
      <div class="red-social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <!-- Agrega más cajas aquí si es necesario -->
  </div>
  <div class="grupo-2">
    <small>&copy; 2022 <b>Refaccionaria BIBIS</b> - Todos los Derechos Reservados a la mamá de lalis</small>
  </div>
</footer>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
