<!DOCTYPE html>
<html>
<head>
  <title>Catálogo de Productos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylecatalogo.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    </div>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Categoría 1</a></li>
        <li><a href="#">Categoría 2</a></li>
        <!-- Agregar más categorías aquí -->
      </ul>
    </nav>
  </header>

  <div class="catalogo">
    {% for producto in productos %}
      <div class="producto">
        <img src="{{ url_for('static', filename=producto['imagen']) }}" alt="{{ producto['nombre'] }}">
        <h3>{{ producto['nombre'] }}</h3>
        <p>Precio: ${{ producto['precio'] }}</p>
        <p>Stock: {{ producto['stock'] }}</p>
        <button>Comprar</button>
      </div>
    {% endfor %}
  </div>
</body>
</html>
