<!DOCTYPE html>
<html>
<head>
  <title> Agregar Artículo | Refaccionaria BIBI </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylecrearart.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body class="align"> 
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="">Refaccionaria BIBI</a>
      </div>
      <ul>
        <li>
            
            <button class="cta">
                <span>Regresar</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
            
          </form>
        </li>
      </ul>
    </div>
  </nav>

  </nav>  <div class="center">
    <h1>Crear Nuevo Artículo</h1>
    <form method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div>
        <label for="cb">Código de barras:</label>
        {{ form.cb(class="input-field") }}
        {% if form.cb.errors %}
          {% for error in form.cb.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
      <div>
        <label for="nombre">Nombre del artículo:</label>
        {{ form.nombre(class="input-field") }}
        {% if form.nombre.errors %}
          {% for error in form.nombre.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
      <div>
        <label for="precio">Precio:</label>
        {{ form.precio(class="input-field") }}
        {% if form.precio.errors %}
          {% for error in form.precio.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
      <div>
        <label for="marca">Marca:</label>
        {{ form.marca(class="input-field") }}
        {% if form.marca.errors %}
          {% for error in form.marca.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
      <div>
        <label for="categoria">Categoría:</label>
        {{ form.categoria(class="input-field") }}
        {% if form.categoria.errors %}
          {% for error in form.categoria.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
      <div>
        <label for="existencias">Existencias:</label>
        {{ form.existencias(class="input-field") }}
        {% if form.existencias.errors %}
          {% for error in form.existencias.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
      <div>
        {{ form.image.label }}
        {{ form.image(class="input-field") }}
        {% if form.image.errors %}
          {% for error in form.image.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
      <div>
        {{ form.submit(class="btn") }}
      </div>
    </form>
  </div>
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <img src="img/logotipo-sleedw.svg" alt="Refaccionaria BIBIS">
        </figure>
        <h2>SOBRE NOSOTROS</h2>
        <p>Nos ubicamos en </p>
        <div class="red-social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="grupo-2">
      <small>&copy; 2022 <b>Refaccionaria BIBIS</b> - Todos los Derechos Reservados a la mama de lalis</small>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
