/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:  #6e8c64;

}

/* Estilos del contenido principal */
.color-fondo {
  background-color: #6e8c64; /* Color de fondo de la sección principal */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* Estilos del encabezado */
nav {
  background-color: black; /* Fondo negro */
  color: white;
  padding: 15px 0;
  
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 38px;
  font-weight: bold;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: right;
  margin-top: 10px;

  
}

.menu ul li {
  margin: 0 15px;
}

.menu ul li:first-child {
  margin-left: 0;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
/* Pie de Página */
.pie-pagina {
  background-color: #0b0b0b;
  color: white;
  padding: 30px 0;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Redes Sociales en el Pie de Página */
.red-social a {
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: white;
  margin-right: 20px;
  background-color:#81B29A;
  text-align: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.red-social a:hover {
  background-color: #81B29A;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .menu ul {
      flex-direction: column;
  }

  .menu ul li {
      margin: 10px 0;
  }

  .grupo-1 {
      flex-direction: column;
      text-align: center;
  }
}

/*boton de regresar */
/* Boton de regresar */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #81B29A;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fefefd;
  margin-left: 10px;
}

.cta svg {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fbfafa;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #81B29A;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
/* Estilos para la sección principal de artículos */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 50px 30px;
  text-align: center;
  background-color: #6e8c64;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}

.articulos-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* Mostrar productos en 3 columnas */
.articulo-item {
  width: calc(33.33% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.articulo-item:hover {
  transform: translateY(-5px);
}

.articulo-imagen {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.articulo-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articulo-info {
  text-align: center;
}

.articulo-info h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

/* Estilos para las acciones del artículo */
.articulo-acciones {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.articulo-acciones a,
.articulo-acciones button {
  background-color: #81B29A;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.articulo-acciones a:hover,
.articulo-acciones button:hover {
  background-color: #639780;
}

/* Estilos para el botón de agregar artículo */
.agregar-articulo-btn {
  background-color: #81B29A;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 18px;
  margin-top: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: inline-block;
  cursor: pointer;
}

.agregar-articulo-btn:hover {
  background-color: #639780;
  transform: scale(1.05);
}

.agregar-articulo-btn i {
  font-size: 24px;
  margin-right: 10px;
}

