<html>
  <head>
    <title> Diseño del sitio web </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body class="align">
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="#">Refaccionaria BIBIS</a>
        </div>
        <ul>
          <li><a href="{{ url_for('catalogo_productos') }}">Catalogo Productos</a></li>
          <li><a href="{{ url_for('lista_proveedores') }}">Proveedores</a></li>
          <li><a href="#">Cerrar Sesion</a></li>
          <li><a href="#">Cerrar Sesion</a></li>
        </ul>
      </div>
    </nav>
    <div class="img"></div>
    <div class="center">
      <div class="title"> Hola, Administrador </div>
      <div class="title"> El camino perfecto hacia la excelencia en tu moto </div>
      <div class="sub_title"> con nuestra refaccionaria líder en calidad y servicio</div>
      <div class="message">{{ mensaje }}</div>
    </div>
  </body>
</html>
