<!DOCTYPE html>
<html>
<head>
    <title>Agregar Proveedor</title>
</head>
<body>
    <h1>Agregar Proveedor</h1>
    <form action="/agregar_proveedor" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required><br><br>

        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" required><br><br>

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required><br><br>

        <label for="numdireccion">Número de Dirección:</label>
        <input type="text" id="numdireccion" name="numdireccion" required><br><br>

        <label for="colonia">Colonia:</label>
        <input type="text" id="colonia" name="colonia" required><br><br>

        <label for="municipio">Municipio:</label>
        <input type="text" id="municipio" name="municipio" required><br><br>

        <label for="estado">Estado:</label>
        <input type="text" id="estado" name="estado" required><br><br>

        <input type="submit" value="Guardar">
    </form>
</body>
</html>
